<!DOCTYPE html>
{% load static %}
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      
      
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <link href = "/bootstrap/css/bootstrap.min.css" rel = "stylesheet">

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Translation Ally</title>
      <style>
        body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica, sans-serif}
        .myLink {display: none}
        img {
            opacity: 0.6;
            object-fit: cover;
        }
      </style>
        
   </head>
   <body class="bg-muted">
    <div class="w3-top">
        <div class="w3-row w3-padding w3-black">
          <div class="w3-col s3">
            <a href="#" class="w3-button w3-block w3-black" style="text-decoration: none;">HOME</a>
          </div>
          <div class="w3-col s3">
            <a href="#about" class="w3-button w3-block w3-black" style="text-decoration: none;">ABOUT</a>
          </div>
          <div class="w3-col s3">
            <a href="#contact" class="w3-button w3-block w3-black" style="text-decoration: none;">CONTACT</a>
          </div>
          <div class="w3-col s3">
            <a class="w3-button w3-block w3-black" data-toggle="modal" data-target="#FAQ" style="text-decoration: none;">FAQ</a>
          </div>
        </div>
        </div>
    </div>
      <header class="w3-display-container w3-content w3-hide-small" style="max-width:1800px">
        <img class="w3-image vh-100 vw-100 img-responsive" src="{% static 'images/translator1.jpg' %}" alt="translation">
        <div class="w3-display-middle" style="width:37%">
          <div class="w3-bar w3-black">
            <a href="/"><button class="w3-bar-item w3-button tablink" style="color: white;"><b>Text</b></button></a>
            <button class="w3-bar-item w3-button tablink" style="color: white; background-color: red;"><b>Audio</b></button>
          </div>
          <!-- Tabs -->
          <div id="Audio" class="w3-container w3-white w3-padding- openLink">
            <form method="POST" enctype="multipart/form-data" styl16e="text-align:centre">
            <h3>Translate Audio file (i.e .mp3, .wav)</h3>
            {% csrf_token %}
            <br><div class="w3-row-padding" style="margin:0 -16px;">
              <div class="w3-half">
                <label><b>Choose the source language</b></label>
                <div class="dropdown">
                  <select name="src" style="width: 90%" class="w3-input w3-border btn btn-secondary dropdown-toggle" type="text" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false" placeholder="Destination language">     
                    {% for key, value in lang.items %}
                       <option value="{{key}}">{{value}}</option>
                    {% endfor %}
                    </select>  
                        
                      </div>
                  </div>
                

              
              <div class="w3-half">
                <label><b>Choose the destination language</b></label>
                <div class="dropdown">
                  <select name="dest" style="width: 90%" class="w3-input w3-border btn btn-secondary dropdown-toggle" type="text" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false" placeholder="Destination language">     
                    {% for key, value in lang.items %}
                       <option value="{{key}}">{{value}}</option>
                    {% endfor %}
                    </select>
                  </div>
              </div>
            </div><br>
            <div style="padding-left: 15%;">
            <input type="file" style="width: 60%; padding-left: 30px;" class="btn btn-outline-secondary" name="myfile" required>
            <button class="w3-button w3-dark-grey" style="border-radius: 8px;">Upload</button><br>
            </div>
            <br>
    <!--        
            <div >
              <table>
                <tbody>
                  <tr> 
                    <td class="form-check"><input class="form-check-input" type="radio" name="output" id="flexRadioDefault1" value="text" checked></td>
                    <td><label class="form-check-label" for="flexRadioDefault1">
                      Text Output</td>
                    <td><input class="form-check-input" type="radio" name="output" id="flexRadioDefault1" value="text" checked></td>
                    <td><label class="form-check-label" for="flexRadioDefault2"><b>
                      Audio Output
                    </label></b></td>
                  </tr>
                </tbody>
              </table>
            </div>
          -->
            <div  class="row">
              <div class="form-check" style="padding-left:20%">
              <input class="form-check-input" type="radio" name="output" id="flexRadioDefault1" value="text" checked>
              <label class="form-check-label" for="flexRadioDefault1"><b>
                Text Output
              </label></b>
            </div>
            <div class="form-check" style="padding-left: 25%">
              <input class="form-check-input" type="radio" name="output" id="flexRadioDefault2"  value="audio">
              <label class="form-check-label" for="flexRadioDefault2"><b>
                Audio Output
              </label></b>
            </div>
          </div>
          {% if truecheck %}

                    <br><div class="alert alert-info" role="alert" style=" text-align: center;"><b>Your file is ready to download.</b>
                    </div>
              
          {% endif %}
          </form>
            <a href = "/audioin/downloadaudio"  id= "file1" class="d-flex justify-content-center" style="text-decoration: none;  padding-top: 35px;"><button  id="file2" class="w3-button w3-dark-grey" style="border-radius: 8px;">Download</button></a><br>
            
         {% if messages %}
                  {% for message in messages %}
                      {% if message.tags %}
                          <script>
                              alert('{{message}}');
                          </script>    
                      {% endif %}
                  {% endfor %}
              {% endif %}

            </div>
          

           
          </div>
          </div>
        </div>
        </div>
      </header>
      <div class="modal fade bd-example-modal-lg" id="FAQ" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">FAQ</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <h6>How to use this website?</h6>
              <p>Upload Doc here.</p>
              <h6>If you want to contact us</h6>
              
    
            </div>
          </div>
        </div>
      </div>

   
        
   <footer class="w3-container w3-padding-64 w3-center w3-opacity bg-secondary">  
    <div class="w3-xlarge w3-padding-32" id="contact">
      <i class="fa fa-facebook-official w3-hover-opacity" style="color: white;"></i>
      <i class="fa fa-instagram w3-hover-opacity" style="color: white;"></i>
      <i class="fa fa-snapchat w3-hover-opacity"style="color: white;"></i>
      <i class="fa fa-pinterest-p w3-hover-opacity" style="color: white;"></i>
      <i class="fa fa-twitter w3-hover-opacity" style="color: white;"></i>
      <i class="fa fa-linkedin w3-hover-opacity" style="color: white;"></i>
   </div>
   <p style="color: black;">Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank" style="color: white;">Translator Ally</a></p>
  </footer>
  </body>
</html>